@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #1f2937;
  padding: 20px 250px;
  align-items: center;
}

header h1 {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
}

header nav {
  display: flex;
  font-size: 18px;
  flex-direction: row;
  gap: 30px;
}

header nav a {
  color: #e5e7eb;
  background-color: #1f2937;
  font-size: 18px;
  text-decoration: none;
}

.main {
  background-color: #1f2937;
  display: flex;
  flex-direction: row;
  padding: 80px 250px;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.main h1 {
  font-weight: 900;
  font-size: 48px;
  color: #f9faf8;
}

.main p {
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 20px;
}

.main img {
  height: 300px;
  width: 900px;
}

.main1 {
  gap: 50px;
}

.main1 button {
  padding: 10px 30px;
  background-color: #3882f6;
  border: none;
  border-radius: 10px;
  color: #f9faf8;
  font-size: large;
  font-weight: 700;
  margin-top: 20px;
  cursor: pointer;
}

.random {
  display: flex;
  flex-direction: column;
  padding: 50px;
  align-items: center;
}

.random h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  padding-bottom: 50px;
}

.random .cards {
  padding: 20px;
  display: flex;
  gap: 60px;
  align-items: center;
}

.cards .card {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.cards img {
  width: 300px;
  border-radius: 20px;
}

.cards p {
  font-size: 22px;
  color: #888888;
  margin-top: 20px;
  text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 100px 300px;
}

.quote .text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 100;
}

.quote .author {
    color: #1f2937;
    font-size: 30px;
    text-align: end;
}

.action {
    background-color: #3882f6;
    margin: 80px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}

.text h2 {
    color: #e5e7eb;
    font-size: 30px;
}

.text p {
    color: #f9faf8;
    font-size: 22px;
}

.action button {
    padding: 10px 30px;
  background-color: #3882f6;
  border: none;
  border-radius: 10px;
  color: #f9faf8;
  font-size: large;
  font-weight: 700;
  margin-top: 20px;
  cursor: pointer;
  border: solid 2px #f9faf8;
}

